$button-primary : #EC5990;
$button-hover-color : #D1D5DB;

input:last-of-type {
    background-color:$button-primary;
    border-color: $button-primary;
    color: white;

    &:hover {
        border-color: #da3e77;
        background-color: #da3e77;
    }
}
 
#delete {
    background-color:$button-primary;
    border-color: $button-primary;
    transition: all .1s ease-in;
    color: white;

    &:hover {
        border-color: $button-hover-color;
        transform: translateY(1px);
    }

    &:active {
        background-color: #da3e77;
    }
    
    &:focus {
        outline: none;
    }
}

span {
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: dripples 1s linear infinite;
}

@keyframes dripples {
    0% {width: 0px; height: 0px; opacity: .5;}
    100% {width: 50px; height: 50px; opacity: 0;}
}
